body {
    margin: 0;
    padding: 0;
    height: 100vh;
background: #005F72;
background: linear-gradient(90deg, rgba(0, 95, 114, 1) 0%, rgba(6, 180, 214, 1) 100%);;
color: white;
}
h1 {
    font-size: 56px;
    text-align: center;
}

.form-sections{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2rem;
    margin: 3rem auto;
    background-color: #004856;
    border-radius: 25px;
    width: 80%;

}

.legendTitle{
    text-align: center;
    font-size: 36px;
    
}

label {
    display: block;
    margin-bottom: 0.5rem;
  
}

fieldset {
    border: none;
    
    
}

.right {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.biography {
  grid-column: 1 / -1; 
  display: flex;
  flex-direction: column;
}


input[type="range"] {
  width: 70%;
  accent-color: #00b4db; 
}





